asgiref==3.3.1
asn1crypto==0.24.0
astroid==2.4.2
cryptg==0.2.post2
cryptography==2.1.4
Flask==1.1.2
Frozen-Flask==0.15
httplib2==0.9.2
mysql-connector-python==8.0.23
pycrypto==2.6.1
pycryptodome==3.10.1
requests==2.24.0
requests-unixsocket==0.1.5
Telethon==1.20
urllib3==1.25.11
Werkzeug==1.0.1