<!doctype html>
<head>
  <!-- {% if not session.logged_in %}
    <meta http-equiv="Refresh" content="0; url=/login" />
  {% endif %} -->
  <title>File Sharing</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="./static/paper.css">
</head>

<body>
  {% if uid != undifined %}
    {% if session.logged_in %}
      <div class="row"> 
        {% if session.login_mode == "user_mobile" %}
          <h2>Welcome {{session.mobile}}</h2>
        {% endif %}

        {% if session.login_mode == "guest_email" %}
          <h2>Welcome {{session.email}}</h2>
        {% endif %}

        <div style="padding-left: 10px;">
          <!-- <a href="/logout">Logout</a> -->
          <p onclick="logout()">Logout</p>
        </div>
      </div>
    {% else %}
      <h2>Please login to download file or Verify with your email id to download</h2>
      <div class="row" style="display: inline-block;margin-top: 10px;">
        <div style="float: left;">
          <button id=btnLogin onclick="loginAndDownload('{{uid}}')">Login</button> 
        </div>
        <div style="float: left;padding-left: 10px;">
          OR
        </div>
      </div>
      <br><br>
      <div id="div_email_verify">
        Email Id:
        <input type="email" id="email_id" name="email_id">
        <button id=btnGetOTP onclick="getEmailOTP('{{uid}}')">Get OTP</button>
        <br>
        <div id="div_email_verify_otp" style="display: none;">
          OTP:
          <input type="password" id="email_otp" name="email_otp" style="width: 100px;">
          <button id=btnVerifyOTP onclick="verifyEmailOTP('{{uid}}')">Verify</button>
        </div>
        <p id="otp_status" style="font-weight: bold;"></p>
      </div>
      <br><br>
    {% endif %}

    <div>
      <h3>File Name: {{file_name}}</h3>
      File Id: {{uid}}<br/>
      File Type: {{file_type}}<br/>
      Size: {{file_size}}<br/>

      <!-- <form action="{{ url_for('download', uid=uid) }}" method=post>
        <input type=submit value=Download>
      </form> -->
      {% if is_deleted %}
        <p id="status"><b>File Deleted</b></p>
      {% else %}
        {% if session.logged_in %}
          <button id=btnDownload onclick="downloadFile('{{uid}}', '{{file_name}}')">Download</button> 
        {% else %}

        {% endif %}
      {% endif %}
      <!-- <button onclick="document.location='/download-file/{{uid}}'">Download</button>  -->
      <p id="status"></p>
    </div>
  {% endif %}
</body>

<script src="http://danml.com/js/download.js?v3.1"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  function downloadFile(uid, fileName) {
        var current = new Date();
        var arg = current.toLocaleString()
        $("#btnDownload").attr("disabled", true);
        $("#status").html("Downloading file...")

        $.ajax({
            type: "GET",
            url: "/download-file/" + uid + '?a=' + arg,
            success: function (r) {
                //Convert Base64 string to Byte Array.
                var bytes = Base64ToBytes(r);
 
                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });
 
                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.setAttribute("download", fileName);
                    a.setAttribute("href", link);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                }
                $("#status").html("File downloaded")
            }
        });
    };

    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

    function getEmailOTP(uid){
      email = $("#email_id").val();
      if(!isEmail(email)){
        alert("Invalid Email");
        return;
      }

      $.ajax({
            type: "GET",
            url: "/generate-email-otp/?email=" + email,
            success: function (r) {
                //Convert Base64 string to Byte Array.
                if(r.split("|")[0] == "1"){
                  $("#email_id").prop('disabled', true);
                  $("#btnGetOTP").prop('disabled', true);
                  $("#div_email_verify_otp").show();
                  $("#otp_status").html("OTP sent to " + email)

                  return;
                }
                $("#otp_status").html("OTP sending failed")
            }
        });
      // $("#div_email_verify_otp").attr('visibility', 'visible');
    }

    function verifyEmailOTP(){
      email = $("#email_id").val();
      otp = $("#email_otp").val();
      if(!isEmail(email)){
        alert("Invalid Email");
        return;
      }

      $.ajax({
            type: "GET",
            url: "/verify-email-otp/?email=" + email + "&otp=" + otp,
            success: function (r) {
                //Convert Base64 string to Byte Array.
                if(r.split("|")[0] == "1"){
                  location.reload(); 
                  return;
                }

                $("#otp_status").html("Invalid OTP")
            }
        });

      // $("#btnDownload").show();
    }

    function isEmail(email) {
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return regex.test(email);
    }

    function logout(){
      alert("h")
    }
</script>